/A.class
/B.class
/C.class
/D.class
/FunctionToLambdaExpression$1.class
/FunctionToLambdaExpression.class
/FunctionToLambdaExpression$2.class
/FunctionToLambdaExpression$3.class
/FunctionToLambdaExpression$4.class
